.grid {
    display: block;
    width: 100%;
}
.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.col {
    padding-left: 15px;
    padding-right: 15px;
}
.row.no-gutter .col {
    padding-left: 0;
    padding-right: 0;
}
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}
/* begin Mobile */
.s-0 {
    display: none;
}
.s-1 {
    flex: 0 0 8.33333%;
    min-width: 8.33333%;
}
.s-2 {
    flex: 0 0 16.66667%;
    min-width: 16.66667%;
}
.s-3 {
    flex: 0 0 25%;
    min-width: 25%;
}
.s-4 {
    flex: 0 0 33.33333%;
    min-width: 33.33333%;
}
.s-5 {
    flex: 0 0 41.66667%;
    min-width: 41.66667%;
}
.s-6 {
    flex: 0 0 50%;
    min-width: 50%;
}
.s-7 {
    flex: 0 0 53.33333%;
    min-width: 53.33333%;
}
.s-8 {
    flex: 0 0 66.66667%;
    min-width: 66.66667%;
}
.s-9 {
    flex: 0 0 75%;
    min-width: 75%;
}
.s-10 {
    flex: 0 0 83.33333%;
    min-width: 83.33333%;
}
.s-11 {
    flex: 0 0 91.66667%;
    min-width: 91.66667%;
}
.s-12 {
    flex: 0 0 100%;
    min-width: 100%;
}
/* end Mobile */

/* begin >= Tablet */
@media (min-width: 740px) {
    .m-0 {
        display: none;
    }
    /* .m-1,.m-2,.m-3,.m-4,.m-5,.m-6,.m-7,.m-8,.m-9,.m-10,.m-11,.m-12{
        display: block;
    } */
    .m-1 {
        flex: 0 0 8.33333%;
        min-width: 8.33333%;
    }
    .m-2 {
        flex: 0 0 16.66667%;
        min-width: 16.66667%;
    }
    .m-3 {
        flex: 0 0 25%;
        min-width: 25%;
    }
    .m-4 {
        flex: 0 0 33.33333%;
        min-width: 33.33333%;
    }
    .m-5 {
        flex: 0 0 41.66667%;
        min-width: 41.66667%;
    }
    .m-6 {
        flex: 0 0 50%;
        min-width: 50%;
    }
    .m-7 {
        flex: 0 0 53.33333%;
        min-width: 53.33333%;
    }
    .m-8 {
        flex: 0 0 66.66667%;
        min-width: 66.66667%;
    }
    .m-9 {
        flex: 0 0 75%;
        min-width: 75%;
    }
    .m-10 {
        flex: 0 0 83.33333%;
        min-width: 83.33333%;
    }
    .m-11 {
        flex: 0 0 91.66667%;
        min-width: 91.66667%;
    }
    .m-12 {
        flex: 0 0 100%;
        min-width: 100%;
    }

    /* offset */
}
/* end Tablet */

/* PC medium resolution > */
@media (min-width: 1113px) {
    .l-0 {
        display: none;
    }
    /* .l-1,.l-2,.l-3,.l-4,.l-5,.l-6,.l-7,.l-8,.l-9,.l-10,.l-11,.l-12{
        display: block;
    } */
    .l-1 {
        flex: 0 0 8.33333%;
        min-width: 8.33333%;
    }
    .l-2 {
        flex: 0 0 16.66667%;
        min-width: 16.66667%;
    }
    .l-3 {
        flex: 0 0 25%;
        min-width: 25%;
    }
    .l-4 {
        flex: 0 0 33.33333%;
        min-width: 33.33333%;
    }
    .l-5 {
        flex: 0 0 41.66667%;
        min-width: 41.66667%;
    }
    .l-6 {
        flex: 0 0 50%;
        min-width: 50%;
    }
    .l-7 {
        flex: 0 0 53.33333%;
        min-width: 53.33333%;
    }
    .l-8 {
        flex: 0 0 66.66667%;
        min-width: 66.66667%;
    }
    .l-9 {
        flex: 0 0 75%;
        min-width: 75%;
    }
    .l-10 {
        flex: 0 0 83.33333%;
        min-width: 83.33333%;
    }
    .l-11 {
        flex: 0 0 91.66667%;
        min-width: 91.66667%;
    }
    .l-12 {
        flex: 0 0 100%;
        min-width: 100%;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .container {
        width: 984px;
    }
    .container .l-0 {
        display: none;
    }
    /* .container .l-1,.container .l-2,.container .l-3,.container .l-4,.container .l-5,.container .l-6,.container .l-7,.container .l-8,.container .l-9,.container .l-10,.container .l-11,.container .l-12{
        display: block;
    } */
    .container .l-1 {
        flex: 0 0 8.33333%;
        min-width: 8.33333%;
    }
    .container .l-2 {
        flex: 0 0 16.66667%;
        min-width: 16.66667%;
    }
    .container .l-3 {
        flex: 0 0 25%;
        min-width: 25%;
    }
    .container .l-4 {
        flex: 0 0 33.33333%;
        min-width: 33.33333%;
    }
    .container .l-5 {
        flex: 0 0 41.66667%;
        min-width: 41.66667%;
    }
    .container .l-6 {
        flex: 0 0 50%;
        min-width: 50%;
    }
    .container .l-7 {
        flex: 0 0 53.33333%;
        min-width: 53.33333%;
    }
    .container .l-8 {
        flex: 0 0 66.66667%;
        min-width: 66.66667%;
    }
    .container .l-9 {
        flex: 0 0 75%;
        min-width: 75%;
    }
    .container .l-10 {
        flex: 0 0 83.33333%;
        min-width: 83.33333%;
    }
    .container .l-11 {
        flex: 0 0 91.66667%;
        min-width: 91.66667%;
    }
    .container .l-12 {
        flex: 0 0 100%;
        min-width: 100%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        width: 720px;
    }
}